<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EarthquakeInformationViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EarthquakeInformationViewer.Properties.Settings>
            <setting name="monit_info" serializeAs="String">
                <value>p2p</value>
            </setting>
            <setting name="monit_info2" serializeAs="String">
                <value>eqinfo</value>
            </setting>
            <setting name="main" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="sub" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="eew_lastada_taiki" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jushin_taiki" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="eqinfor_taiki" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="is_eqcolor" serializeAs="String">
                <value>True</value>
            </setting>
        </EarthquakeInformationViewer.Properties.Settings>
    </userSettings>
</configuration>